.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.grid__row {
    display: grid;
    padding: 0.5em 1em;
    border-top: var(--border);
    border-bottom: var(--border);
    grid-template-columns: auto 4fr 1fr 1fr 1fr 1fr;
    row-gap: 1em;
}

.grid__row>div {
    justify-items: flex-start;
    margin-right: auto;
    color: var(--text-color-600);
}

.checkbox {
    height: 100%;
    width: 100%;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__apps {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    height: 50vh;
}

.nodata {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.nodata__text {
    font-size: var(--text-md);
    color: var(--text-color-500)
}

.nodata__reco {
    font-size: var(--text-xs);
    color: var(--text-color-400);
}


/*
.grid__row {
    display: grid;
    padding: 0.5em 1em;
    border-top: var(--border);
    border-bottom: var(--border);
    grid-template-columns: auto 4fr 1fr 1fr 1fr 1fr;
    row-gap: 1em;
}

*/

@media (max-width: 900px) {
    .grid__row {
        grid-template-columns: auto 2fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {

    .grid__row {
        padding: 0.5rem;
        grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
    }

    .checkbox {
        padding-right: 0.5rem;
    }
}