.dataline {
    display: grid;
    padding: 0.5em 1em;
    grid-template-columns: auto 4fr 1fr 1fr 1fr 1fr;
    row-gap: 1em;
}

.dataline:hover {
    background-color: var(--bg-back-1);
    cursor: pointer;
}

.dataline>div {
    justify-items: flex-start;
    width: 100%;
    overflow: hidden;
}

.dataline__cell>p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95em;
    color: var(--text-color-800);
}

.dataline__percent {
    display: flex;
    align-items: center;
    gap: 1em;
}

.dataline__bar {
    position: relative;
    background-color: var(--bg-percent-1);
    height: 0.5em;
    flex: 4;
    border-radius: 1em;
}

.dataline__bar-fill {
    position: absolute;
    background-color: var(--bg-percent-2);
    border-radius: 1em;
}

.dataline__percent-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95em;
    color: var(--text-color-800)
}

.dataline__extend {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.dataline__extend-text {
    overflow: hidden;
    width: 100%;
}