.dataline {
    display: grid;
    padding: 0.5em 1em;
    grid-template-columns: auto 4fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
}

.dataline:hover {
    background-color: var(--bg-back-1);
    cursor: pointer;
}

.dataline>div {
    justify-items: flex-start;
    width: 100%;
    overflow: hidden;
}

.dataline__cell>p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--text-sm);
    color: var(--text-color-700)
}

.checkbox {
    height: 100%;
    width: 100%;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dataline__percent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dataline__bar {
    position: relative;
    background-color: var(--bg-percent-1);
    /*height: (0.5em;)*/
    height: 30%;
    flex: 4;
    border-radius: 1em;
}

.dataline__bar-fill {
    position: absolute;
    background-color: var(--bg-percent-2);
    border-radius: 1em;
}

.dataline__percent-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-xs);
}

.dataline__extend {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.dataline__extend-text {
    overflow: hidden;
    width: 100%;
}


@media (max-width: 900px) {
    .dataline {
        grid-template-columns: auto 2fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {

    .dataline {
        padding: 0.5rem;
        grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
        gap: 0.1rem
    }

    .checkbox {
        padding-right: 0.5rem;
    }

    .dataline__percent {
        gap: 0.8rem;
    }
    .dataline__bar-fill {
        border-radius: 0.5rem;
    }
}