.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
}

.container__text {
    color: var(--text-color-6);
    font-size: var(--text-xs);
}

