.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__resume {
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header__applications {}

.header__text {
    margin-top: 1em;
    font-size: var(--text-md);
}



.body {
    flex: 5;
    padding-top: 5vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: clamp(80%, 80%, 1400px);
}

.body__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.graph {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}



/* HTML: <div class="loader"></div> */
.loader {
    margin-top: 1em;
    width: fit-content;
    font-family: monospace;
    font-size: 2em;
    animation: l25 1s infinite;
    color: rgba(0, 0, 0, 0.8);
}

.loader::before {
    content: "Loading...";
}

@keyframes l25 {

    0%,
    12.5% {
        transform: translate(10px, 0)
    }

    13%,
    25% {
        transform: translate(4px, -4px)
    }

    26%,
    37.5% {
        transform: translate(2px, 8px)
    }

    38%,
    50% {
        transform: translate(12px, -6px)
    }

    51%,
    62.5% {
        transform: translate(0, 12px)
    }

    63%,
    75% {
        transform: translate(-8px, -4px)
    }

    76%,
    86.5% {
        transform: translate(-12px, 6px)
    }

    87%,
    100% {
        transform: translate(6px, 0)
    }
}


@media (max-width:600px) {
    .header__applications {
        margin-top: 1rem;
    }

    .header__text {
        margin-top: 2rem;
    }
}


/*
.body {
    flex: 5;
    padding-top: 5vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 1500px;
    width: clamp(600px, 70vw, 1500px);
}
*/



@media (max-width:650px) {
    .body {
        width: 90%;
    }
}


@media (max-width: 700px) {}

/* mobile */
@media (max-width: 900px) {}

/* tablet */
@media (max-width: 1200px) {}

/* desktop */