.container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__img {
    height: var(--text-md);
}

.container__img:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.container__img:active {
background-color: rgba(0, 0, 0, 0.08);
}