:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: 1px solid rgba(0, 0, 0, 0.1);
  --button-highlight: rgba(0, 0, 0, 0.02);


  --bg-black-1: rgba(0, 0, 0, 0.008);
  --bg-black-2: rgba(0, 0, 0, 0.02);
  
  --bg-percent-1: rgba(165, 47, 47, 0.08);
  --bg-percent-2: #b6d0ff;

  --bg-red-1: rgb(255, 218, 229, 0.1);

  --btn-color-hover: 1px solid rgba(0, 0, 0, 0.08);

  

  --text-color-900: rgba(0, 0, 0, 0.9);
  --text-color-800: rgba(0, 0, 0, 0.8);

  --gcolor-green-1: #207900;
  --gcolor-green-2: #aaff8b;

  --gcolor-red-1: #B20041;
  --gcolor-red-2: #ff7e9a;

  --gcolor-red-1: #0043BF;
  --gcolor-red-2: #83aeff;

}

p,
button,
h1,
h2,
div {
  margin: 0;
  padding: 0;
  color: var(--text-color-800);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button,
label {
  border-radius: 8px;
  border: var(--border);
  padding: 0.5em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  border-color: #00000034;
  cursor: pointer;
  transition: border-color 0.25s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

button:hover,
label:hover {
  border-color: #e6e6e6;
}

button:active,
label:active {
  background-color: rgb(247, 247, 247);
}

button>img {
  height: 1.5em;
}

.blur {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}


td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}